.watchingRow{
  margin-top: 16px;
}

.watchingRow h2{
  margin-bottom: 4px;
  font-size:18px;
  display: flex;
  align-items: center;
}

.more-link{
  margin-left: 4px;
}

.more-link a{
  font-size: 12px;
  text-decoration: none;
  color:#00AAE1;
}

.more-link a:hover{
  text-decoration: underline;
}

.watchingRow-area{
  overflow-x: hidden;
  position: relative;
}

.watchingRow-list{
  transition: all ease .3s;
}

.watchingRow-item{
  display: inline-block;
  transition: .3s ease;
}
.watchingRow-item img{
  transform:scale(.98);
  transition: .3s ease;
}

.watchingRow-item img:hover{
  transform:scale(1);
  transition: .3s ease;
}

.watchingProgress{
  width: 294px;
  height: 5px;
  background-color:#00AAE1;
}

.watchingRow--left{
  position: absolute;
  width: 40px;
  color:#fff;
  height: 170px;
  background: linear-gradient(to right, rgba(0,0,0,.4)5%,transparent 90%);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor:pointer;
  opacity: 0;
  transition: .3s ease;
}

.watchingRow--right{
  position: absolute;
  width: 40px;
  color:#fff;
  height: 170px;
  background: linear-gradient(to left,rgba(0,0,0,.4) 5%,transparent 90%);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor:pointer;
  opacity: 0;
  transition: .3s ease;
}

.watchingRow--left{
  left:0;
}

.watchingRow--right{
  right:0;
}

.watchingRow:hover .watchingRow--left, .watchingRow:hover .watchingRow--right{
  opacity: 1;
}