@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#1A242F;
  font-family: 'Roboto', sans-serif;
}

h2{
  color:#fff;
}

.container{
  max-width: 1140px;
  margin:0 auto;
}

footer{
  color:#fff;
  text-align: center;
}

.loading{
  position: fixed;
  left:-60px;
  top:0;
  right:0;
  bottom:0;
  z-index: 99;
  background-color:#1C273A;
  display: flex;
  align-items: center;
  justify-content: center;
}
