.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  margin-right: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  align-items: center;
}

.nav-menu {
  flex: 1;
}

.nav-menu ul {
  display: flex;
  list-style: none;
}

.nav-menu li {
  padding: 10px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.nav-menu li a:hover::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.search-area {
  display: flex;
  align-items: center;
  position: relative;
}

.search-area img {
  position: absolute;
  top: 2px;
  left: 5px;
}

.input-search {
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 5px;
  display: flex;
  margin-right: 20px;
}

.input-search input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  margin-left: 24px;
}

.input-search::placeholder {
  padding-left: 25px;
}

.login-area {
  display: flex;
  align-items: center;
  color: #fff;
}

.login-area img {
  margin-top: 4px;
}

.menu-mobile {
  display: none;
}

.menu-mobile-button{
  display: none;
}

@keyframes animate-menu{
  from{
    opacity: 0;
    right:-100%;
  }
  to{
    opacity: 0;
    right:0%;
  }
}

/* Responsive */

@media (max-width: 739px) {
  .nav-menu {
    display: none;
  }
  .search-area {
    display: none;
  }
  .container {
    max-width: 350px;
  }
  .login-area {
   display: none;
  }
  .menu-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    right:-100%;
    top:0;
    height: 100vh;
    background:#0A749A;
    z-index: 999;
    width: 50%;
    align-items: center;
    animation:animate-menu .3s ease;
    transition: .3s ease;
  }

  .menu-mobile.active{
    right:0;
  }

  .menu-mobile-button{
    display: block;
    position:absolute;
    top:27px;
    right:27px;
    z-index: 9999;
  }
  .menu-mobile ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 80px;
  }
  .menu-mobile li{
    text-align: center;
    padding: 20px;
  }
  .menu-mobile li a{
    text-decoration: none;
    color:#fff;
  }
}
